<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>

    {% extends 'navigation.html' %}

    {% block content %}


        <form action="" method="post">
        {{ form.hidden_tag() }}

            <p>
                {{ form.name.label }}<br>
                {{ form.name(size=30) }}<br>
            </p>

            <p>
                {{ form.hometown.label }}<br>
                {{ form.hometown(size=32) }}<br>
            </p>
            <p>
                {{ form.description.label }}<br>
                {{ form.description(rows='10',cols='90')}}<br>
            </p>

            <p>
                {{ form.submit() }}
            </p>


        </form>


    {% endblock %}

</body>
</html>