<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Artists</title>
</head>
<body>

        {% extends 'navigation.html' %}

        {% block content %}
        <h1> Eminem </h1>
        <h3>St. Joseph, Missouri, U.S.</h3>
        <p>Marshall Bruce Mathers III (born October 17, 1972), known professionally as Eminem (often stylized as EMINƎM), <br>
            is an American rapper, songwriter, record producer, record executive, and actor.
        </p>
            <h1>Events</h1>
        <ul>
            <p> Sunday 16 September 2018<br>
                Twickenham Stadium, Twickenham, UK
            </p>
            <p> Saturday 14 September 2018<br>
                Twickenham Stadium, Twickenham, UK
            </p>
        </ul>

        {% endblock %}
</body>
</html>