<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title> ME-MUSIC</title>
    {% endif %}

</head>
<body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}

        <ul>
            {% for message in messages %}
                <div style="color:red;"><h3> {{ message }}</h3></div>
            {% endfor %}
        </ul>

        {% endif %}

        {% endwith %}


    <div>
        <h3 style="font-size: 30px">ME-MUSIC</h3>
        <ol style="font-size: 20px">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('list_artists') }}">List of Artist</a>
            <a href="{{ url_for('add_artist') }}">Create New Artist</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
        </ol>

    </div>

    {% block content %} {% endblock %}
